/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

body {
    font-family: sans-serif;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x:hidden;
}

.row {
    display: grid;
    grid-template-columns: 21% 21% 21% 21% 21%;
    margin-left: 5%;
    justify-content: center;
}
    .btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
        content:none;
    }

    .list img {
        object-fit: cover;
        min-height: 100%;
        width: 100%;
        cursor: pointer;
        padding-bottom: 9%;
        padding-right: 9%;
    }

#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    vertical-align: middle;
}

.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

* {
    box-sizing: border-box
}

.slideshow-container {
    justify-content: center;
    display: flex;
}

.menushow-container a {
    align-items: center;
    color: #FFFFFF;
}

.menushow-container div {
    align-items: center;
    color: #FFFFFF;
}

.slideshow-container .mySlides img, .slideshow-container .mySlides iframe {
    padding-left: 10%;
    padding-right: 10%;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.goto, .gotochannel, .collaspse, .folderminus, .foldersave, .folderopen, .fileminus, .folderplus, .fileplus, .filechange, .filelink {
    cursor: pointer;
    text-align: center;
    color: white;
    overflow: hidden;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.centered:hover {
    background-color: black;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
    text-decoration: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    text-decoration: none;
}

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        text-decoration: none;
    }

.active, .dot:hover {
    background-color: #717171;
}

.icon-upload > input {
    display: none;
}

.icon-download > input {
    display: none;
}


.hide {
    display: none;
}

.show {
    display: flex;
}

.spinner {
    position: absolute;
    top: calc(50% - 10vh);
    left: calc(50% - 10vh);
    text-align: center;
    font-size: 20vh;
}

a {
    color: #FFFFFF;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #eee;
    }